@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body 
{
  padding: 0;
  margin: 0;
  background-image: url("back.jpg");
  background-size: 200% 200% !important;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

h1
{
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 1000px, 0);
  animation: arrive 200ms ease-in-out 0.7s forwards;
}

h4
{
  text-align: center;
  float: left;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto; 
  transform: translate3d(0, 1000px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

p
{
  transform: translate3d(0, 1000px, 0);
  animation: arrive 300ms ease-in-out 0.7s forwards;
}

/*navbar css*/
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/

.navbar
{
	min-height: 57px;
  position: fixed;
}

.bg-coals
{
	background-color: rgb(64, 64, 128) !important;
}

/*content css*/
.main
{
  text-align: center;
}

.main .img
{
  width: 90%;
  height: 90%;
  transform: translate3d(0, 1000px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.main p
{
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translate3d(0, 1000px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
  color: white;
}

.main .opis
{
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translate3d(0, 1000px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.quo
{
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

.spotify
{
  width: 30%;
  height: 30%;
}

/*form css*/
.contact_box{
  min-height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 5px;
  transform: translate3d(0, 1000px, 0);
  animation: var(--action) 300ms ease-in-out 0.1s forwards;
  display: none;
  right: 0px;
  top: 0px;
  position: absolute;
  z-index: 10;
}

.contact_form{
  height: 500px;
  margin-top: 300px;
}

.mess{
  height: 200px;
}

.send{
  float: left;
}

.reset{
  float: right;
}

.exit{
  float: right;
}

.question{
  font-size: 25px;
  padding: 10px;
}

.formcon small {
	color: red;
  float: left;
  margin-left: 13px;
  display: none;
}

.formcon.error small {
	display: block;
}

/*animation css*/
@keyframes NO 
{
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive 
{
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes arrive_form
{
    0% {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes hide_form
{
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
}

@keyframes move 
{
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}